main {
    display: grid;
    justify-content: space-around;
}

.hidden {
    display: none;
}

.title {
    text-align: center;
}

.input {
    width: 500px;
    margin-top: 20px;
    font-size: 20px;
}

.found-repositories, .loading {
    display: grid;
    justify-content: space-around;
}

.loading {
    margin: 10px;
}

.found-repositories__add-button {
    width: 500px;
    font-size: 20px;
    text-align: left;

    border: 0;
}

.found-repositories__add-button:hover {
    background-color: #c9c9c9;
}

.found-repositories__add-button:active {
    background-color: #fff;
}

.saved-repositories__repository {
    background-color: #c9c9c9;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-around;
}

.saved-repositories__text {
    width: 300px;
    padding: 10px;
}

.saved-repositories__remove-button {
    background-color: transparent;
    border: 0;
    transition: opacity 200ms;
}

.saved-repositories__remove-button:hover {
    opacity: 60%;
}

.saved-repositories__remove-button:active {
    opacity: 20%;
}